{% extends "email_base.html" %}

{% block content %}
<center>
    <table style="border: 0px; padding: 8px;">
        <tr>
            <th>
                <center>Sunrise & Sunset</center>
            </th>
        </tr>
        
        {% for key, value in sun.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        

        <tr>
            <th>
                <center>Auspicious Times</center>
            </th>
        </tr>

        {% for key, value in auspicious.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}

        <tr>
            <th>
                <center>Inauspicious Times</center>
            </th>
        </tr>
        {% for key, value in inauspicious.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}

    </table>
</center>
{% endblock %}